@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

$bold: 700;
$padding: 0.5rem;
$important-padding: 1.2rem;
$font-family: 'Roboto Condensed', arial, sans-serif;
$text-font-size: 1.5rem;
$text-font-size-sm: 1rem;
$big-text-font-size: 2rem;
$title-font-size: 3rem;
$title-logo-height: 2rem;
$section-spacing: 5rem;
$project-title-height: 12rem;