.content-container {
  > .line-container,
  > .standard-list,
  > .media-container,
  > .image-container {
    max-width: 80ch;
    margin: 1rem auto 0 auto;
  }
  
  > .line-container:first-child,
  > .standard-list:first-child,
  > .media-container:first-child,
  > .image-container:first-child {
    margin-top: 0;
  }
}