.line-container {
  font-size: $text-font-size;
  font-family: $font-family;
  padding: $padding $important-padding;
  margin-bottom: 0;
  margin-top: 0;

  > .emphasised {
    font-style: normal;
    font-size: $big-text-font-size;
    font-weight: $bold;
  }

  @media (min-width: $screen-sm-min) {
    font-size: $text-font-size-sm;
  }
}