.main-navbar {
  text-align: center;
  top: 0;
  width: 100%;

  > .list > .item {
    display: inline-block;
    margin-left: $sm-padding;
    margin-right: $sm-padding;
  }

  > .list > .item > .link {
    color: #000000;
    font-family: $font-family;
    font-size: $text-font-size-sm;
  }

  > .list > .item > .link.-current {
    font-weight: 700;
  }

  > .list > .item > .link.-active {
    text-decoration: none;
  }

  > .list > .item > .link.-active:hover {
    text-decoration: underline;
  }
}