.media-container {
  padding-left: $important-padding;
  padding-right: $important-padding;
  font-size: $text-font-size;

  @media (min-width: $screen-md-min) {
    font-size: $text-font-size-sm;    
  }
}