.project-header {

  &.-quackathon {
    background-image: url("img/quackathon.png");
    background-position: center;  
  }

  &.-codeforgood {
    background-image: url("img/codeforgood.jpg");
    background-position: top left;  
  }

  > .content {
    background-image: url("img/shadow_overlay.png");
    background-position: bottom;
  }
  
  > .content > .title {
    color: #ffffff;
    padding: 0 $padding $padding $padding;
    margin-bottom: 0;
    height: 30rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    font-family: $font-family;
    font-size: $title-font-size;
    text-align: center;
  }

  > .content > .links-list {
    padding-bottom: $padding;
  }
}