$bold: 700;
$padding: 1rem;
$important-padding: 3rem;
$font-family: 'Roboto Condensed', arial, sans-serif;
$text-font-size: 3rem;
$big-text-font-size: 3.5rem;
$title-font-size: 5rem;
$title-logo-height: 4rem;
$section-spacing: 10rem;