@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

$bold: 700;
$sm-padding: 0.2rem;
$padding: 1rem;
$important-padding: 3rem;
$font-family: 'Roboto Condensed', arial, sans-serif;
$text-font-size: 3rem;
$text-font-size-sm: 1.5rem;
$big-text-font-size: 3.5rem;
$title-font-size: 5rem;
$title-logo-height: 4rem;
$section-spacing: 10rem;
$project-title-height: 30rem;