body {
    margin-top: 1em;
}

.social {
    padding: 0;
}

.social-link {
    color: white;
}

.social-link:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}
.social_link {
    display: block;
    font-family: "Segoe UI Black", calibri;
    height: 3em;
    line-height: 3em;
    font-size: 5em;
    text-align: center;
    opacity: 0.9;
}

.twitter a {
    @extend .social_link;
    background: rgb(12, 130, 201);
}

.googleplus a {
    @extend .social_link;
    background: rgb(219, 68, 55);
}

.youtube a {
    @extend .social_link;
    background: rgb(230, 33, 23);
}