body {
    margin-top: 1em;
}

.social {
    padding: 0;
}

.social-link {
    color: white;
}

.social-link:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}
.social_link {
    display: block;
    font-family: "Segoe UI Black", calibri;
    height: 3em;
    line-height: 3em;
    font-size: 5em;
    text-align: center;
    opacity: 0.9;
}

.twitter a {
    @extend .social_link;
    background: rgb(12, 130, 201);
}

.googleplus a {
    @extend .social_link;
    background: rgb(219, 68, 55);
}

.youtube a {
    @extend .social_link;
    background: rgb(230, 33, 23);
}

$opacity: 0.6;
.section {
    transition: background 2s linear;
    color: white;
    font-weight: bold;
    font-family: Caladea;
}

.section-title {
    font-size: 5em;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}

.home-section {
    background: rgba(100, 200, 100, $opacity);
}

.community-section {
    background: rgba(200, 100, 100, $opacity);
}

.level-design-and-blender-section {
    background: rgba(100, 150, 150, $opacity);
}

.programming-section {
    background: rgba(150, 100, 150, $opacity);
}

.contact-section {
    background: rgba(150, 150, 100, $opacity);
}

.portfolio-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity 0.5s linear;
    z-index: -1;
}

.community-background {
    @extend .portfolio-background;
    background-image: url("img/half-life-and-mods-cover.jpg");
}

.level-design-and-blender-background {
    @extend .portfolio-background;
    background-image: url("img/mapping-example.jpg");
}

.programming-background {
    @extend .portfolio-background;
    background-image: url("img/code-example.jpg");
}

.contact-background {
    @extend .portfolio-background;
}

.home-background {
    @extend .portfolio-background;
    background-image: url("img/louis-marie.jpg");
}